
Utils/ImageConverter/ImageConverter/obj/Debug/

Utils/ImageConverter/ImageConverter/bin/Debug/

Controller/ZO/__pycache__/

Controller/__pycache__/

HardwareTests/TestRig/__pycache__/

*.egg

.key
key.tar

Controller/pydev/__pycache__/

Controller/pydev/_pydev_bundle/

Controller/pydev/_pydev_imps/__pycache__/

Controller/pydev/_pydev_imps/

Controller/pydev/_pydev_runfiles/

Controller/pydev/_pydevd_bundle/__pycache__/

Controller/pydev/_pydevd_bundle/

Controller/pydev/_pydevd_frame_eval/__pycache__/

Controller/pydev/_pydevd_frame_eval/

Controller/pydev/build_tools/

Controller/pydev/EGG-INFO/

Controller/pydev/pydev_ipython/

Controller/pydev/

Controller/zero_one\.log

Controller/\.idea/

*.pyc

Controller/images/

Controller/Test\.build/
